
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

@tailwind utilities;

@tailwind base;
@tailwind components;

@layer base {
  :root {
      --color-bkg: 31 25 36;
      --color-title: 255 255 255 ; 
      --color-description: 171 150 183;  
      --color-comp-description: 228 221 255;
      --color-comp-muted: 83 82 117;
      --color-secondary-bkg: 68 56 79;
      --color-secondary-comp-bkg: 73 61 85;
      --color-tertiary-bkg: 98 68 102;
      --accent-theme: 221 0 218;
      --accent-secondary: 0 221 248;
      --dark-background: 23 18 25;
      --hover: 122 0 170;
      --color-bkg-chat: 84 67 135 ; 
      --color-shadow: 51 65 85;
      --primary-color: 0deg 0% 0%; 
      --secondary-color: 0deg 0% 16%;
      --transparent: 76 175 80 0;  
      --custom-box-shadow: 0 1px 5px rgba(0,0,0,.25), 0 1px 10px rgba(0,0,0,.35);
  }
  
  input::placeholder {
    font-size: 12px;
  }
        input[type="range"] {
          @apply bg-transparent

        }
        input[type="range"]::-webkit-slider-thumb {
          @apply rounded-full;
          @apply w-4;
          @apply h-4;
          @apply appearance-none;
          @apply bg-primary-color;
        }
        input[type="range"]::-moz-slider-thumb {
          @apply rounded-full;
          @apply w-4;
          @apply h-4;
          @apply appearance-none;
          @apply bg-primary-color;
        }
        input[type="range"]::-o-slider-thumb {
          @apply rounded-full;
          @apply w-4;
          @apply h-4;
          @apply appearance-none;
          @apply bg-primary-color;
        }
        input[type="range"]::-webkit-slider-runnable-track {
          @apply w-0;
          @apply h-0;
          @apply appearance-none;
          
        }
        input[type="checkbox"] {
          @apply rounded-full;
          @apply appearance-none;
          @apply w-4;
          @apply h-4
        }
}
   
@layer utilities {
  .w-156 {
    width: 156px;
  }
  .h-231 {
    height: 231px;
  }
  .w-72 {
    width: 72px;
  }
  .h-111 {
    height: 111px;
  }
}