@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
    --color-bkg: 237 237 237;      
    --color-bkg-chat: 250 250 250; 
    --color-shadow: 51 65 85;
    --primary-color: 0deg 0% 0%; 
    --secondary-color: 0deg 0% 16%;
    --transparent: 76 175 80 0;  
    }
    :root[data-theme="dark"] {
        --color-bkg: 0 0 0;  
        --color-bkg-chat: 38 38 38; 
        --primary-color: 0deg 0% 100%;
        --color-shadow: 204 190 170;  
        --secondary-color: 0deg 0% 38%;
        --transparent: 76 175 80 0;
        }
       
        input[type="range"] {
          @apply bg-transparent

        }
        input[type="range"]::-webkit-slider-thumb {
          @apply rounded-full;
          @apply w-4;
          @apply h-4;
          @apply appearance-none;
          @apply bg-primary-color;
        }
        input[type="range"]::-moz-slider-thumb {
          @apply rounded-full;
          @apply w-4;
          @apply h-4;
          @apply appearance-none;
          @apply bg-primary-color;
        }
        input[type="range"]::-o-slider-thumb {
          @apply rounded-full;
          @apply w-4;
          @apply h-4;
          @apply appearance-none;
          @apply bg-primary-color;
        }
        input[type="range"]::-webkit-slider-runnable-track {
          @apply w-0;
          @apply h-0;
          @apply appearance-none;
          
        }
        input[type="checkbox"] {
          @apply rounded-full;
          @apply appearance-none;
          @apply w-4;
          @apply h-4
        }
      }
   
